doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/style.css")
        title Messaging
        script(src='/socket.io/socket.io.js')
    body
        form#input-box 
            input#msg(type="text")
            button(type="submit") Send
        #messages
    script.
            var socket = io();
            const form = document.querySelector("#input-box");
            const input = document.querySelector('#msg')
            const messagesContainer = document.querySelector('#messages')
            form.addEventListener('submit', event => {
                event.preventDefault();
                const msg = input.value;
                socket.emit('message', msg);
                input.value = ''
            });
            socket.on('message', msg => {
                console.log(msg)
                const messageElement = document.createElement('P');
                messageElement.innerHTML = msg;
                messagesContainer.appendChild(messageElement);
            });
